<% Campnote.all.each do |cn| %>
  <% if cn.opendate.present? && cn.closedate.present? && (cn.opendate..cn.closedate).cover?(Time.current) %>
    <% if cn.notetype == "notice"%>
      <div class="bg-gray-200 border border-yellow-600 mt-4 p-2" >
    <% else %>
      <div class="bg-yellow-200 border border-red-800 mt-4 p-2 flex wrap space-between" >
        <div class="mr-2">
          <%= render :partial => 'svg/alert' %>
        </div>
    <% end %>
        <div>
          <%= cn.note %>
        </div>
      </div>
  <% end %>
<% end %>
