default: &default
  adapter: mysql2
  encoding: utf8mb4
  collation: utf8mb4_0900_ai_ci
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>
  username: root
  password: <%= ENV['LOCAL_MYSQL_DATABASE_PASSWORD'] %>

development:
  <<: *default
  database: mmss-mysql_development

test:
  <<: *default
  database: mmss-mysql_test

production:
  <<: *default
  database: mmssprod
  username: <%= Rails.env.production? ? Rails.application.credentials.dig(:mysql, :prod_user) : ENV['MYSQL_PROD_USER'] %>
  password: <%= Rails.env.production? ? Rails.application.credentials.dig(:mysql, :prod_password) : ENV['MYSQL_PROD_PASSWORD'] %>
  host: <%= Rails.env.production? ? Rails.application.credentials.dig(:mysql, :prod_servername) : ENV['MYSQL_PROD_HOST'] %>
  sslca: <%= Rails.env.production? ? Rails.application.credentials.dig(:mysql, :prod_sslca) : ENV['MYSQL_PROD_SSLCA'] %>
